html {
	height: 100%;
}

body {
	font-family: Asap;	
	font-weight: 400;
	font-size: 1.8em;
	color: #2f373a;
	padding-right:0px !important;
	margin-right:0px !important;
	width: 100%;
}

h5 {
	font-weight: 700;
	font-size: 1.1em;
	font-style: italic;
}

h4 {
	font-weight: 700;
	font-size: 1.5em;
	font-style: italic;
	margin-bottom: 15px;
}

h2 {
	font-weight: 700;
	font-size: 1.2em;
	font-style: italic;
}

.aboutParagraph {
		text-indent: 20px;
}

.anchor {
	display: block;
    position: relative;
    top: -125px;
    visibility: hidden;
}

.navbar {
	background-color: #117B8D;
	color: white;
	border: 0px;
	margin-bottom: 0px;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-nav > .active > a {
	background-color: #1DBBCC;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.thumbnail {
	border: 3px solid #1DBBCC;
	border-radius: 30px;
	background-color: #FFFFFF;
	min-width: 150px;
	max-width: 250px;
	min-height: 150px;
	max-height: 250px;
	color: #E2611A;
	display: flex;
	text-align: center;
	align-items: center;
}

.thumbnail:hover {
	background-color: #1DBBCC;
}

.backgroundColor2 {
	background-color: #aae5ec;
	padding: 0px;
	margin: 0px;
}

.aboutSubColumn {
	border-radius: 25px;
	padding: 25px;
	margin: 15px;
	background-color: white;
}

.field  {
	margin-top: 50px;
	margin-bottom: 50px;
}

#coverField {
    max-width: none;
    min-height: none;
	background: url(images/backgroundimage_1.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top;
	padding-left: 0px;
	padding-right: 0px;
}

#aboutField {
	padding: 20px;
}

#contactField {
	padding: 30px;
}

#toolsField{
	margin-top: 40px;
	margin-bottom: 50px;
	min-height: 400px;
}

#toolsOverview {
	margin: auto;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#logo {
	margin-top: 5px;
	margin-left: 15px;
	margin-right: 10px;
    height: auto; 
    width: auto; 
    max-width: 40px; 
    max-height: 40px;
}

#QuoteBoxCover {
	border: 2px solid white;
	border-radius: 20px;
	background-color: rgba(255,255,255,0.2);
	padding: 20px;
	max-width: 500px;
	color: #2f373a;
	text-align: center;
	min-height: 10%;  /* Fallback for browsers do NOT support vh unit */
  	min-height: 10vh; /* These two lines are counted as one :-)       */
	align-items: center;
	margin-top: 15%;
}

#introTekst {
	padding: 20px;
	margin-bottom: 20px;
}

.waaromIcon {
	width: 205px;
}

.waaromVak {
	margin-top: 50px;
	margin-left:auto;
    margin-right:auto;
    display:block;
    text-align:center;
}

.waaromField {
	margin-top: 40px;
	margin-bottom: 50px;
}

.footer {
	color: white;
	background-color: #117B8D;
	padding-top: 10px;
	font-size: 12px;
}

.cancericon {
	max-width: 300px;
	padding-bottom: 25px;
}

.zorgbutton {
	background-color: #aae5ec;
	color: #666;
	margin-right: 5px;
	margin-top: 10px;

}

.zorgbutton:hover {
	background-color: #1DBBCC;
	color: white;
}

.toolColumn{
	padding: 15px;
}

.backgroundColor1 {

	margin-top: 0px;
	background: rgba(255, 255, 255, 1)
}

.backgroundColor3 {

	margin-top: 300px;
	padding-top: 20px; 
	background: rgba(255, 255, 255, 0.7)

}

.backgroundColor4 {

	background: rgba(255, 255, 255, 0.7)
}

.PDAField{
	margin-bottom: 50px;
}

.PDAicon{
	height: 100px;
	width: 350px;
	background-repeat: none;
	opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.PDAicon:hover{
	opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}

#PDAicon_Borst {
   background-image: url('images/cancericon_borst.png');
   background-size: cover;
}

#PDAicon_Borst_Radiotherapie {
   background-image: url('images/cancericon_borst_radiotherapie.png');
   background-size: cover;
}

#PDAicon_Borst_Nazorg {
   background-image: url('images/cancericon_borst_nazorg.png');
   background-size: cover;
}

#PDAicon_Long {
   background-image: url('images/cancericon_long.png');
   background-size: cover;
}

#PDAicon_Prostaat {
   background-image: url('images/cancericon_prostaat.png');
   background-size: cover;
}

#PDAicon_Rectum {
   background-image: url('images/cancericon_rectum_gray.png');
   background-size: cover;
}

#PDAicon_Larynx {
   background-image: url('images/cancericon_larynx.png');
   background-size: cover;
}

#PDAicon_Trial {
   background-image: url('images/cancericon_trial.png');
   background-size: cover;
}

.flexer{
    display: flex;
    flex-direction: row;    
    align-items: stretch;   
}

@media (max-width: 767px) {
    .flexer {
        flex-direction:column;
    }
	  .PDAicon {
    	margin: auto;
		height: 80px;
		width: 280px;
    }

	.toolColumn{
		padding-top: : 5px;
		padding-left: 0px;
		padding-right: 0px;
	}
}

#foutmelding {
	display: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-align: left;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}