@import url(https://fonts.googleapis.com/css?family=Asap);

h3 {
    color: white;   
    font-family: 'Asap', sans-serif  !important ;
}

body {
    font-family: 'Asap', sans-serif  !important ;   
}

th {
    border-bottom: 1px solid #ddd  !important ;
}

td {
    border-bottom: 1px solid #ddd  !important ;
}

hr {
    border-bottom: 1px solid #ddd  !important ;
}

div {
    height: 50px  !important ;
    width: 100% !important ;
    background-color:#1AAFD9  !important ;
}