body {
	    font: 14px "Montserrat", sans-serif;
	    line-height: 1.8;
	    color: #f5f6f7;
	}

	h4 {
		font: 14px "Montserrat", sans-serif;
	    line-height: 1.8;
	    color: #2F373A;
	}

	h2 {
	color: #2F373A;

	}

	footer .glyphicon {
	    font-size: 20px;
	    margin-bottom: 20px;
	    color: #f4511e;
	}

	img {
		display:block;
	    margin:auto;
	}

	.backtext {
		padding: 15px;
		color: #2F373A;
	}

	p {
		padding: 15px;
	}

	footer {
		margin-top: 50px;
	}

	a {
		color: #f4511e;
	}

	.navbar-default .navbar-brand {
    	color: #ffffff;
	}

	.navbar li a, .navbar .navbar-brand.navbar .navbar-default .navbar-toggle {
	    padding-top: 15px;
	    padding-bottom: 15px;
	    border: 0;
	    border-radius: 0;
	    margin-bottom: 0;
	    font-size: 12px;
	    letter-spacing: 1px;
	    color: #ffffff !important;
	}

	.navbar-nav li a:hover, .navbar-nav li.active a {
	    color: #E2611A !important;
	}

	.navbar-default .navbar-nav > .active > a:hover {
	    background-color: #ffffff;
	}



	.navbar {
		background-color: #117B8D;
		border-width: 0px;
	}

  	.bg-1 {
  		background-color: #1DBBCC;
        color: #ffffff;
    }

   	.bg-2 {
      	background-color: #ffffff; 
      	color: #ffffff;
 	 }

  	.bg-3 {
      	background-color: #117B8D; 
      	color: #ffffff;
    }

    .container-fluid {
    	padding-top: 60px;
    	padding-bottom: 60px;
    }

    .equal {  
    	display: -webkit-flex;
    	display: flex;
	}

	.row-eq-height {
	  	display: -webkit-box;
	  	display: -webkit-flex;
	  	display: -ms-flexbox;
	  	display: flex;
	  	flex-wrap: wrap;
	}

	.thumbnail {
		border: none;
	}

	.panel {
	    border: 1px solid #CAD1D9;
	    border-radius:0;
	    transition: box-shadow 0.5s;
	}

	.panel:hover {
	    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
	}

	.panel-footer .btn:hover {
	    border: 1px solid #CAD1D9;
	    background-color: #fff !important;
	    color: #474e5d;
	}

	.panel-heading {
	    color: #fff !important;
	    background-color: #25BBCC !important;
	    padding: 5px;
	    border-bottom: 1px solid transparent;
	    border-top-left-radius: 0px;
	    border-top-right-radius: 0px;
	    border-bottom-left-radius: 0px;
	    border-bottom-right-radius: 0px;
	}

	.panel-footer {
	    background-color: #fff !important;
	}

	.panel-footer h4 {
	    color: #aaa;
	    font-size: 14px;
	}

	.panel-footer .btn {
	    margin: 15px 0;
	    background-color: #EDA472;
	    color: #fff;
	}

	.treatments {
		display:none;
		color: #555555;
		background-color: #fff !important;
		padding: 50px;
	}

	.introtekstTreatment {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.question{
		text-align: left;
	}

	.questionContainer{
		padding-bottom: 25px;
		padding-top: 25px;
	}



	.bp_feedback {
		display: none;
		color: #474e5d;
	}

	.bp_results {
		padding-top: 50px;
	}

	.vergelijkenButtons {
		text-align: left;
	}

	.v_vragen {
		display: none;
	}

	.bp_vragen {
		display: none;
	}

	#afterTest {
		display:  none;
	}

	.generated {
		margin: auto;
		display: none;
	}

	.blueButton{
		color: #474e5d;
	}

	.blueButton:hover {
		color: #1abc9c;
		background-color: #c0c0c0;
	}

	.warning {
		color: #474e5d;
	}

.resultsTable ul {
	padding: 1em;
}